.zoomIn {
  z-index: 500;
  animation: zoom 300ms forwards;
  transform: scale(.8);
}

.zoomOut {
  animation: zoom 300ms reverse;
}

@keyframes zoom {
  100% {
    transform: scale(1);
  }
}

.click:not(:disabled):active {
  animation: click 300ms forwards;
}

@keyframes click {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1);
  }
}

.fadeIn {
  animation: fade 300ms forwards;
}

.fadeOut {
  animation: fade 300ms reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* component ani */

.tooltipOut {
  animation: tooltipOut 300ms forwards;
}

@keyframes tooltipOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.toastIn {
  animation: toastIn 300ms forwards;
}


.toastOut {
  animation: toastOut 300ms forwards;
}

@keyframes toastIn {
  0% {
    visibility: visible;
    opacity: 0;
    bottom: 0px;
  }

  100% {
    opacity: 1;
    bottom: 30px;
  }
}

@keyframes toastOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    bottom: 0;
    visibility: hidden;
  }
}